// Centering
@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  // Flex Column
  @mixin flex-column($gap: 1rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
  }
  
  // Media Queries
  @mixin respond($breakpoint) {
    @if $breakpoint == 'small' {
      @media (max-width: 576px) { @content; }
    } @else if $breakpoint == 'medium' {
      @media (max-width: 768px) { @content; }
    } @else if $breakpoint == 'large' {
      @media (max-width: 992px) { @content; }
    }
  }
  
// Grid Mixin
@mixin grid($columns: none, $rows: none, $gap: 1rem, $justify: center, $align: center) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  gap: $gap;
  justify-items: $justify; // Aligns items horizontally within cells
  align-items: $align;     // Aligns items vertically within cells
}

  