// Colors
$primary-color: #007bff;
$secondary-color: #0056b3;
$text-color: #252b42;
$muted-color: var(--color-paragh);
$background-color: #f8f9fa;

// Font Sizes
$font-size-large: 4.8rem; // For headings
$font-size-medium: 2.8rem; // For subheadings
$font-size-small: 1.6rem; // For body text

// Spacing
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;
$spacing-xlarge: 3rem;

// Borders
$border-radius: 5px;
$border-radius-large: 15px;

// Shadows
$box-shadow-light: 0 10px 20px rgba(0, 0, 0, 0.1);
$box-shadow-medium: 0 10px 20px rgba(0, 0, 0, 0.2);
