@import 'variables';
@import 'mixins';

// Base Styles
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: $background-color;
  color: $text-color;
  font-size: 62.5%; // 1rem = 10px for easier calculations
}

/* Root Variables */
:root {
  --font-base-size: 62.5%;
  --color-primary: #007bff;
  --color-secondary: #0056b3;
  --color-text: #252b42;
  --color-paragh:#374754;
  --color-background: #f8f9fa;
  --spacing-base: 2rem;
  --spacing-base-md: 4rem;
  --spacing-base-lg: 8rem;

}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0 0 $spacing-medium;
  line-height: 1.6;
}



//heading-2
.heading-2{
  color:var(--color-text);
  font-family: sans-serif;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 5.5rem;
  letter-spacing: 0.2px;

  transition: all .2s;
}

.heading-3{
  font-family: sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: .1px;

  color: var(--color-text);
}



.heading-4{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 4rem;
  letter-spacing: 0.4px;
  color: var(--color-paragh);
  margin: 0;
  max-width: 70%;
}

.heading-5{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.3rem;
  letter-spacing: .1px;
  color: var(--color-paragh);
}

.heading2:hover{
  transform: skewY(-3px);
}
.flex-column {
  display: flex;
  flex-direction: column; /* Vertical layout */
  gap: 0.7rem; /* Space between child elements */
  align-items: center; /* Ensures items are horizontally centered */
}

/* Utility Class for Flex and Flex Row with Gap */
.flex {
  display: flex;
  flex-direction: row; /* Horizontal layout */
  gap: 0.7rem; /* Space between child elements */
  align-items: center; /* Ensures items are vertically centered */
}

.grid-2c{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
}

.grid-2r{
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.item-dimensions{
  max-width: 27.3rem;
  max-height: 16.3rem;
}


